/* Globales*/

.contenedor {
    max-width: 2200px;
    margin-left: 80px;
    margin-right: 80px;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3.5rem;
}

p {
    font-size: 1.3rem;
    text-transform: capitalize;
}


/*body */

body {
    font-family: 'Lato', sans-serif;
}


/*header principal */

.site_header.inicio {
    background: url(../img/header.jpg);
    height: 100vh;
    min-height: 600px;
    background-position: center center;
    background-size: cover;
}


/* barra dentro del header */

.barra {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}


/* utilidades */

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* enlaces */

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    margin-right: 24px;
}

.navegacion a:last-of-type {
    margin: 0;
}

.navegacion a:hover {
    color: #71b100;
}


/* iconos nosotros*/

.titulodel {
    text-align: center;
    font-weight: 300;
}

.icono div {
    padding: 0%;
}

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 10px;
    margin-bottom: 100px;
}

.icono {
    flex-basis: calc(33.3% -1rem);
    margin: auto;
}

.icono h3 {
    text-transform: uppercase;
    font-size: 2.6rem;
}

.icono {
    text-align: center;
}